.banner-info
	+span-columns(12)
	@extend .box
	margin-top: 20px
	padding: 20px
	.left
		+span-columns(6)
		h2
			font-size: 20px
			color: rgba(0, 0, 0, 0.8)
		p
			font-weight: 300  
			margin: 0
	.right
		+span-columns(6)
		text-align: right
		margin-right: 0
.sponsored-players, .sponsored-streamers
	h2
		margin-top: 20px
		float: left