.browse
	@extend .box
	+span-columns(12)
	float: left
	margin: 20px 0
	padding: 10px 
	ul
		padding: 0
		margin: 0
		list-style: none
		li
			&:nth-child(1)
				+span-columns(3)
			&:nth-child(2)
				+span-columns(2)
			&:nth-child(3)
				+span-columns(3)
			&:nth-child(4)
				+span-columns(3)
			&:nth-child(5)
				+span-columns(1)
			select
				width: 100%
				float: left
				background-color: rgba(0, 0, 0, 0.04) 
				padding: 1px 3px
				font-size: 13px 
				color: rgba(0, 0, 0, 0.8) 
				option
					padding: 1px 3px 
					&.blue
						background-color: rgba(10, 80, 200, 1) 