.button
	a
		padding: 5px 10px
		border: none
		color: rgba(255, 255, 255, 0.8)
		text-decoration: none
		font-size: 14px 
		&:hover
			color: rgba(255, 255, 255, 0.95) 
	&.blue
		a
			background-color: #046380
			&:hover
				background-color: #046E8F  
	&.green
		a
			background-color: #078004 
			&:hover
				background-color: #0B9508 
button
	padding: 5px 10px
	border: none
	color: rgba(255, 255, 255, 0.8)
	text-decoration: none
	font-size: 14px 
	&:hover
		color: rgba(255, 255, 255, 0.95) 
	&.blue
		background-color: #046380
		&:hover
			background-color: #046E8F  