.cart
	+span-columns(12)
	+clearfix
	@extend .box
	margin-top: 20px
	background-color: #FFF 
	.top
		background-color: #F0F0F0
		width: 100%
		float: left 
		padding: 10px 
		p
			margin: 2px 0 0
		img
			float: left
			margin-right: 5px
	.content
		width: 100%
		float: left
		ul
			margin: 0
			padding: 0
			list-style: none
			float: left
			width: 100%
			li
				float: left
				width: 100%
				position: relative
				border-bottom: 1px solid rgba(0, 0, 0, 0.1)
				padding: 10px  
				&:nth-child(even)
					background-color: rgba(0, 0, 0, 0.03) 
				&:last-child
					border-bottom: none 
				span
					position: absolute
					right: 0px
					top: 20% 
					cursor: pointer
					color: rgba(0, 0, 0, 0.5)
					padding: 10px
					&:hover
						color: rgba(0, 0, 0, 0.9)  
				img
					float: left
					width: 80px
					margin-right: 10px
				p
					font-size: 17px
					font-weight: 400  
					margin: 5px 0 0
				small
					color: $gold 
					font-size: 15px
					margin: -3px 0 0
					float: left
					b
						font-size: 18px 
				
	.bottom
		width: 100%
		float: left
		background-color: #ecebeb
		border-top: 1px dashed rgba(0, 0, 0, 0.15) 
		.left
			float: left
			padding: 10px 
			p
				margin: 0
				font-size: 15px
				color: rgba(0, 0, 0, 0.7)  
			h3
				margin: -8px 0 0
				font-weight: 400
				color: shade($gold, 10%)  
				font-size: 29px 
		.right
			float: right
			.button
				margin: 25px 10px 0 0