.comments
	margin: 20px 0 10px
	padding: 0
	list-style: none
	li
		+span-columns(12)
		@extend .box
		margin-bottom: 10px
		padding: 10px
		.left
			+span-columns(1.4)
			margin-bottom: 0
			float: left
			img
				width: 100%
		.right
			+span-columns(10.6)
			p
				margin: 0
				font-size: 14px
				font-weight: 300  