.faq
	+span-columns(12)
	+clearfix
	@extend .box
	margin-top: 20px
	+transition(3s all ease-in-out)
	ul
		margin: 0
		padding: 0
		list-style: none
		+transition(3s all ease-in-out)
		li
			background-color: rgba(0, 0, 0, 0.03) 
			cursor: pointer
			position: relative
			outline-style: none
			&:hover 
				background-color: rgba(0, 0, 0, 0.06) 
				h3
					color: #5280C1 
				.text
					display: inline-block
					background-color: #fff 
			h3
				padding: 10px
				margin: 0
				font-weight: 300 
				font-size: 20px 
				color: rgba(0, 0, 0, 0.8) 
			.text
				cursor: text
				outline-style: none
				background: #fff 
				padding: 10px
				display: none
				p
					margin: 0
