footer
	float: left
	background-color: #1D1D1D
	+span-columns(12) 
	height: 276px
	.bottom
		+span-columns(12)
		padding: 5px 20px 
		float: left
		background-color: #212121 
		p
			float: left
			padding-top: 7px
			font-size: 14px 
			color: rgba(255, 255, 255, 0.3) 
			font-weight: 300 
			margin: 0
		.design
			float: right
	ul
		list-style: none
		float: left
		margin: 30px 0 40px
		padding: 0 20px
		li
			+span-columns(2.5)
			+omega(5n)
			margin: 0
			padding: 0 20px 0 0px 
			h4
				margin: 0
				color: rgba(255, 255, 255, 0.6)
				border-bottom: 4px solid #4376d4  
				font-weight: 300 
				padding-bottom: 7px
			ul
				float: left
				margin: 8px 0 0
				padding: 0
				li
					+span-columns(12)
					padding: 0
					margin-bottom: 0px 
					&.active
						a
							color: rgba(255, 255, 255, 0.8) 
					a
						color: rgba(255, 255, 255, 0.5) 
						font-weight: 300 
						font-size: 14px 
						&:hover
							color: rgba(255, 255, 255, 0.65) 
			.support
				li
					p
						margin-bottom: 0
						color: rgba(255, 255, 255, 0.8)
						font-size: 15px 
						font-weight: 300 
						i
							color: rgba(255, 255, 255, 0.3) 
							font-size: 20px 
							margin-right: 5px