#{$all-text-inputs}, textarea
	border: 1px solid rgba(0, 0, 0, 0.1)
	background-color: rgba(0, 0, 0, 0.03)
	padding: 7px 7px 
	font-size: 16px 
	margin-bottom: 10px
#{$all-text-inputs-hover}, textarea:hover
	border: 1px solid rgba(0, 0, 0, 0.2)
#{$all-text-inputs-focus}, textarea:focus
	outline-style: none
	background-color: rgba(0, 0, 0, 0.04) 
	border: 1px solid rgba(0, 0, 0, 0.28)  