// Item listing 

.listing
	padding: 0
	margin: 20px 0 0 
	list-style: none
	li
		+span-columns(4)
		+omega(3n)
		background-color: #FFF 
		-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) 
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) 
		margin-bottom: 15px
		cursor: pointer
		position: relative
		+transition(0.1s all ease-in-out)
		&:hover
			-webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) 
			box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3) 
			.about
				-webkit-box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.15) 
				box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.15) 
				.more
					display: inline
		img
			width: 100%
			margin-bottom: 60px
		.ribbon
			+position(absolute, null 0 null null)
			z-index: 10 
			&:before
				+triangle(70px, #f0ac2f, up-right)
				content: ""
				position: absolute
				right: 0
				top: 0 
				z-index: 7 
			&:after
				content: 'StatTrak™'
				position: absolute
				top: 16px
				right: 2px
				z-index: 140 
				+transform(rotate(45deg))
				font-size: 11px 
				color: rgba(0, 0, 0, 0.7) 
		.about
			padding: 10px
			background-color: #F1F1F1
			border-top: 1px solid rgba(0, 0, 0, 0.2)  
			position: absolute
			bottom: 0
			width: 100%
			+clearfix
			+transform(0.1s all ease-in-out)
			h2
				margin: 0
				font-weight: 500 
				font-size: 18px
				float: left
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				letter-spacing: -1px 
				width: 75%
				display: block
				a
					color: rgba(0, 0, 0, 0.9) 
			small
				margin: 3px 0 0
				float: left
				font-size: 12px
				font-weight: 300  
				color: rgba(0, 0, 0, 0.7) 
			.more
				float: left
				width: 100%
				margin-top: 10px
				border-top: 1px solid rgba(0, 0, 0, 0.05)
				padding-top: 10px 
				display: none
				p
					float: left
					margin: 0px 0 0 0
					color: rgba(0, 0, 0, 0.7)
					font-weight: 300
					font-size: 13px
					width: 70%
				.button
					float: right
					a
						font-size: 13px 