.login
	+span-columns(12)
	margin-top: 20px
	.button
		a
			padding: 7px 10px
			i
				margin-right: 5px
	.login-form, .register-form
		+span-columns(5.5)
		@extend .box
		padding: 20px
		input
			width: 100%
		button
			float: right
	.middle
		+span-columns(1)
		text-align: center
		p
			font-size: 17px
			color: rgba(0, 0, 0, 0.7)
			font-weight: 300
			margin-top: 100%  