.list-product
	margin-right: 15px
.product
	+span-columns(8)
	margin-top: 20px
	table
		tr
			th
				&:first-child
					width: 25%
				&:last-child
					width: 25%
			td
				padding: 7px 5px 
				&:first-child, &:last-child
					text-align: center
					.button
						padding: 0
						a
							width: 100%
							float: left
							padding: 0px auto 
							font-size: 13px 

.comments
	+span-columns(12)
	margin-top: 20px
.about-product
	margin-top: 20px
	+span-columns(4)
	table
		@extend .box
		tr
			th
				background-color: rgba(0, 0, 0, 0.05)
	.img
		width: 100%
		float: left
		text-align: center
		border: 1px solid rgba(0, 0, 0, 0.1) 
		padding: 20px 0
		@extend .box
		img
			width: 50%
			