aside
	&.hidden
		display: none
article
	&.full
		+span-columns(12)
		li
			+span-columns(3)
			+omega(4n)
			clear: none !important
			margin-right: 1% !important
.trigger-hide
	background-color: rgba(255, 255, 255, 0.3) 
	padding: 3px 5px
	border: 1px solid rgba(0, 0, 0, 0.1) 
	cursor: pointer
	float: right
	margin: 10px 256px 0 0 
	display: none
	+clearfix
	&:hover
		background-color: rgba(0, 0, 0, 0.085) 
	p
		margin: 0
		padding: 0
		font-size: 13px 

.trigger-show
	background-color: rgba(255, 255, 255, 0.3) 
	padding: 3px 5px
	border: 1px solid rgba(0, 0, 0, 0.1) 
	cursor: pointer
	float: right
	margin: 10px 20px 
	position: absolute
	top: 0
	right: 0
	+clearfix
	&:hover
		background-color: rgba(0, 0, 0, 0.085) 
	p
		margin: 0
		padding: 0
		font-size: 13px 

.search
	width: 100%
	float: left
	position: relative
	height: 38px
	margin-top: 0px
	.form
		input
			width: 100%
			background-color: rgba(0, 0, 0, 0.05) 
.categories
	margin-top: 10px
	margin-bottom:  20px
	float: left
	width: 100%
	+clearfix
	min-height: 700px
	h3
		font-weight: 300
		color: rgba(0, 0, 0, 0.7)  
		margin: 0 0 5px
	ul
		margin: 0
		padding: 0
		list-style: none
		li
			a
				margin-top: 8px
				width: 100%
				float: left
				@extend .box
				padding: 10px 15px
				font-weight: 300
				color: rgba(0, 0, 0, 0.8) 
				font-size: 16px
			&:hover
				a
					background-color: rgba(255, 255, 255, 0.75) 
				ul
					display: inline
					li
						a
							background-color: #FFF 
			ul
				display: none
				li
					a
						margin: 0
						padding-left: 25px
						&:hover
							background-color: rgba(255, 255, 255, 0.7) 