.create-ticket
	+span-columns(12)
	@extend .box
	padding: 20px
	margin-top: 20px
	form
		width: 100%
		input
			float: left
			width: 100%
		textarea
			width: 100%
		button
			float: right
			margin-left: 10px
		small
			float: right
			font-size: 14px
			font-weight: 300
			margin-top: 7px
			color: rgba(0, 0, 0, 0.5) 
.support-ticket
	+span-columns(12)
	@extend .box
	margin-top: 20px
	.top
		background-color: #ededed 
		padding: 10px
		+clearfix
		.label
			float: left
		small
			float: right
			font-size: 14px
			color: rgba(0, 0, 0, 0.4)  
			margin: 5px 0 0
	.content
		padding: 10px
		h3
			margin: 0 0 10px
			font-size: 24px
			font-weight: 300
			color: rgba(0, 0, 0, 0.7)   
		p
			margin: 10px 0
			font-size: 15px
			font-weight: 300
			color: rgba(0, 0, 0, 0.7)    
			line-height: 20px 
.conversation
	margin-top: 20px
	+span-columns(12)
	.reply
		+span-columns(12)
		@extend .box
		padding: 20px
		textarea
			width: 100%
		button
			float: righ
.tickets
	+span-columns(12)
	margin-top: 20px
	.button
		float: right
		margin: 10px 0 0