table
	width: 100%
	border: 1px solid rgba(0, 0, 0, 0.1) 
	border-collapse: separate 
	tr
		&:last-child
			td, th
				border-bottom: none 
			
		th
			text-align: left
			width: 20%
			padding: 3px 10px 
			border-right: 1px solid rgba(0, 0, 0, 0.1) 
			border-bottom: 1px solid rgba(0, 0, 0, 0.1)
			&:last-child
				border-bottom: none
		td
			width: 100%
			float: left
			padding: 3px 10px 
			border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	&.white
		tr
			th
				width: auto
				background-color: #f0f0f0
				&:last-child
					border-bottom: 1px solid rgba(0, 0, 0, 0.1) 
			td
				width: auto
				float: none
				border-right: 1px solid rgba(0, 0, 0, 0.1) 
				background-color: #FFF 