.users
	+span-columns(12)
	padding: 0
	margin: 20px 0 0
	li
		+span-columns(6)
		+omega(2n)
		@extend .box
		margin-bottom: 15px
		padding: 5px 
		img
			float: left
			width: 65px
			margin-right: 10px
		h3
			margin: 3px 0 0
			font-weight: 400
			color: rgba(0, 0, 0, 0.8)  
			font-size: 20px 
		p
			margin: -3px 0 0
			font-weight: 300 
			color: rgba(0, 0, 0, 0.6) 
		small
			margin: -3px 0
			float: left
			font-weight: 300
			font-size: 14px 
			&.online
				color: rgba(30, 230, 10, 1)
			&.offline
				color: rgba(210, 30, 10, 1) 