//	Typography

.gigantic, .huge, .large, .bigger, .big, 
h1, h2, h3, h4, h5, h6
  color: $accent-color
  font-weight: bold

.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  line-height: 1.05
  letter-spacing: -1px

.large, h2
  font-size: 35px
  line-height: 1.14

.bigger, h3 
  font-size: 26px
  line-height: 1.38

.big, h4
  font-size: 22px
  line-height: 1.38

.small, small 
  font-size: 10px
  line-height: 1.2

.stattrak
  color: #F4C529


p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0



// Links

a
  color: $link-color
  text-decoration: none
  outline: 0
  
a:hover, a:focus
  color: lighten($link-color, 20%)




// Selection colors (easy to forget)

::selection
  background: $selection-color
  
::-moz-selection
  background: $selection-color
  
img::selection
  background: transparent
  
img::-moz-selection
  background: transparent
  
body
  -webkit-tap-highlight-color: $selection-color



// Basic Styles

body
  background-color: #f5f5f5 
  font-size: 14px
  line-height: 1.6
  font-family: 'Open Sans' sans-serif
  color: $text-color
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  +box-sizing(border-box)

.container
  +outer-container
.box
  background-color: $white
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) 
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)  

.main
  +outer-container
  background-color: #dcdcdc
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35) 
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35) 
  position: relative
  article
    +span-columns(8)
    padding: 20px 0px 20px 20px
    .load-more
      @extend .box
      padding: 5px 0
      +span-columns(3) 
      +shift(4.5)
      text-align: center
      cursor: pointer
      font-size: 14px
      color: rgba(0, 0, 0, 0.7)
      position: relative
      &:hover
        background-color: rgba(255, 255, 255, 0.75)
        -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.14) 
        box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.14)  
      &:active
        background-color: rgba(255, 255, 255, 0.65)
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14) 
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14)       
      &:before, &:after
        width: 50px
        height: 1px
        background-color: rgba(0, 0, 0, 0.14)
        content: ''
        position: absolute
        top: 15px
      &:before
        left: -60px
      &:after
        right: -60px
  aside
    +span-columns(4)
    +pad()
    padding: 20px 20px 0 0
    position: relative
    margin-right: 0
  h2
    font-weight: 400 
    color: rgba(0, 0, 0, 0.7) 
    font-size: 24px
    margin: 0 
#header
  width: 100%
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35) 
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35) 
  background-image: url(http://www.mmogames.com/wp-content/uploads/2012/08/shooter-mmo-games-counter-strike-global-offensive-csgo-push-screenshot.jpg) 
  -webkit-background-size: cover 
  -o-background-size: cover 
  background-size: cover 
  height: 400px
  padding: 20px 
  &.sub
    height: 90px 
  h1
    +span-columns(3)
    width: 207px
    height: 46px
    background-image: url(../img/logo.png)
    text-indent: -9999px  
    margin: 0
    &:hover
      background-position: 0 46px
  #nav
    +span-columns(7)
    float: right
    ul
      list-style: none
      float: right
      li
        float: left
        margin-left: 30px
        a
          color: rgba(255, 255, 255, 0.8)
          &:hover
            color: rgba(255, 255, 255, 0.95) 
            span
              background-color: #046E8F 
        span
          background-color: #046380
          padding: 2px 9px
          color: #fff
          font-size: 13px 
          font-weight: 300 
          -webkit-border-radius: 100% 
          border-radius: 100%    
          margin-left: 5px
  .content
    margin-top: 20px
    +span-columns(6)
    h2
      margin-top: 60px
      @extend .large
      font-weight: 300
      color:  $white
      b
        color: $gold
        font-weight: 700
    .button
      margin-top: 10px
      +span-columns(3 of 6)
      float: left
      a
        padding: 7px 50px
        +linear-gradient(to top, #9c821c, #f4ce38)
        +clearfix
        text-align: center
        color: $white 
        font-size: 20px
        font-weight: 300 
        float: left
        &:hover
          +linear-gradient(to top, #b69929, #ffde5c)
.items
  float: left
  width: 100%